:root {
    --blanco: #F8FAF7;
    --negro: #000000;
    --rosa: #BF06A0;
    --texto: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
figure {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: var(--texto);
    background-color: var(--blanco);
    -webkit-font-smoothing: antialiasing;
    -moz-osx-font-smothing: grayscale;
}

hr {
    display: block;
    color: aliceblue;
}

body {
    font-family: var(--texto);
    background-color: var(--negro);
    color: var(--blanco);
    -webkit-font-smoothing: antialiasing;
    -moz-ozx-font-smoothing: grayscale;
    cursor: auto;

}

.header {
    background-color: var(--negro);
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    width: 100%;
    min-height: 5em;
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.header .nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header .nav .ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.header .nav .ul .li {
    margin: 0 1rem;
    font-family: var(--texto);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}

.header .nav .ul .li .a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s;
}

.header .nav .ul .li .a ::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: 100%;
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.3s;
    z-index: -1;
}

.header .nav .ul .li .a:hover {
    background: #F8FAF7;
    border-radius: 15px;
    color: var(--negro);
    cursor: pointer;
}

.header .nav .ul .li .a:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    position: relative;
    z-index: 1;
}

.main .dev {
    display: flex;
    width: 100%;
    align-items: center;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.main .dev .CONTPRO,
.main .dev .CONTDEV {
    flex: 1;
    padding: 1.3rem;
}

.main .dev .CONTPRO article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;

}

.main .dev .CONTPRO .num {
    margin-right: 0.2rem;
    font-family: var(--texto);
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.main .dev .CONTPRO .img {
    width: 500px;
    height: 200px;
    transition: filter 0.3s;
}

.main .dev .CONTPRO .img:hover {
    filter: opacity(.5);
}

.main .dev .CONTDEV .h2,
.main .dev .CONTDEV .h4 {
    font-family: var(--texto);
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    text-align: right;
}

.main .dev .CONTDEV .h2 {
    font-size: 40px;
    font-weight: 600;
}

.main .dev .CONTDEV .h4 {
    color: var(--rosa);
    font-size: 25px;
    font-weight: 700;
}

.main .dev .CONTDEV .p {
    font-family: var(--texto);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1.3rem;
    text-align: right;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    z-index: 1;
    border-top: 1px solid var(--blanco);
}

.footer .span {
    color: var(--blanco);
    font-family: var(--texto);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

@keyframes wipe-in-right {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:wipe:right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}