:root {
    --blanco: #F8FAF7;
    --negro: #000000;
    --rosa: #BF06A0;
    --tipo-titular: 'Inter', sans-serif;
    --tipo-parrafo: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-spacing: 40px;

}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: var(--tipo-parrafo);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiasing;
    -moz-osx-font-smothing: grayscale;
}

hr {
    display: block;
    color: aliceblue;
}

body {
    position: relative;
    font-family: var(--tipo-parrafo);
    font-size: 100%;
    /*min-height: 100vh;*/
    background-color: var(--negro);
    color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiasing;
    -moz-ozx-font-smoothing: grayscale;
    cursor: auto;

}

.header {
    background-color: var(--negro);
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    position: relative;
    width: 100%;
    min-height: 5em;
    margin-top: 1.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header .nav .ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2;
    list-style: none;
}

.header .nav .ul .li {
    z-index: 2;
    margin-left: 5rem;
    font-family: var(--tipo-titular);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.header .nav .ul .li .a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s;
}

.header .nav .ul .li .a ::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: 100%;
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.3s;
    z-index: -1;
}

.header .nav .ul .li .a:hover {
    background: #F8FAF7;
    border-radius: 100px;
    color: rebeccapurple;
}

.header .nav .ul .li .a:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    position: relative;
    z-index: 1;
}

.main .UX {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.main .UX .CONTUX {
    flex: 1;
    padding: 1.3rem;
}

.main .UX .CONTUX .h2 {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    text-align: left;
}

.main .UX .CONTUX .p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.3rem;
    text-align: left;

}

.main .UX .CONTUX .h4 {
    color: var(--rosa);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    text-align: left;
}

.main .UX .CONTPRO {
    flex: 1;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main .UX .CONTPRO .num {
    margin: 0 0.625rem 0 0;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.main .UX .CONTPRO .img {
    width: 500px;
    height: 200px;
}

.main .UX .CONTPRO article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;
}


.footer {
    position: absolute;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    z-index: 1;
    border-top: 1px solid var(--blanco);
}

.footer .span {
    color: var(--blanco);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}